.nav{
background-color: #283739;
padding: 1em;
display: flex;
flex-direction:row;
justify-content: end;
margin-bottom: 1em;
}

.searchInput{
   border: 0px;
   border-radius: 15px 0px 0px 15px;
   background-color: #e0e0e0;
   height: 3em;

}
.searchButton {
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    background-color: #e0e0e0;
    height: 3em;

}