
 .contenedor{ 
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: fit-content;
 height: fit-content;
 margin:auto;
 background-color: #a2c11c;
 padding: 10px;
 border-radius: 15px;
 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

 }